<div class="container">
    <div class="row">
        <div class="col offset-s4 offset-m4 offset-l4 s4 m4 l4">


<div class="card-panel bs-example">
    <form role="form" name="form1">
        <div class="form-group">
            <p>Welcome {{user.mail}}</p>
            <label for="exampleInputEmail1">Mail</label>
            <input type="text" placeholder="Enter name" class="form-control" required ng-model="user.mail">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control" required ng-model="user.pass">
        </div>
        <button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="login(user)">Submit</button>
        <p>{{msgtxt}}</p>
    </form>
</div>
                
        </div>
    </div>
</div>
